body {
    margin-left: 0;
    margin-right: 0;
}

body h1 {
    text-align: center;
    font-size: 5rem;
}

.etch {
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 53rem;
    height: 42rem;
    background-color: rgb(187, 181, 181);
    border-radius: 6rem;
}

.container .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
}

.buttons .default {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.buttons button {
    background-color: rgb(33, 42, 58);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
}

.canvas {
    width: 32rem;
    height: 32rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}